data/
/.quarto/
data_analysis/

.DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata


# exceptions
!data/seq_project.tar.gz
