data/
/.quarto/
data_analysis/
CLAUDE.md
.vscode/
.DS_Store
/tmp/

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata


# exceptions
!data/seq_project.tar.gz

**/*.quarto_ipynb
